body {
    margin: 0;
    padding: 0;
    margin-top: 2%;
    height: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(0, 0, 0);
}

.titulo {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    padding: 20px;
    box-shadow: 0 10px 15px rgb(255, 0, 0), 0 -10px 15px rgb(255, 0, 0);
}

.jogos-terror {
    margin: 0;
    font-family: "Lacquer", system-ui;
}

nav {
    display: flex;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    padding: 10px;
    font-family: "Lacquer", system-ui;
    margin-top: 2%;
}

nav a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin: 0 15px;
    font-size: 16px;
}

nav a:hover {
    color: rgb(255, 0, 0);
}

nav a:active {
    color: rgb(0, 0, 0);
}

.caixa-textos {
    background-color: aliceblue;
    width: 80%;
    color: black;
    margin-top: 30px;
    padding: 20px; /* Adiciona padding para garantir que o texto não encoste nas bordas */
}

.caixa-textos h1 {
    text-align: center; /* Centraliza os h1 dentro da caixa-textos */
    margin: 20px 0; /* Ajusta a margem para os h1 */
}

.caixa-textos p {
    text-align: left; /* Alinha os parágrafos à esquerda */
    margin-bottom: 30px; /* Adiciona espaço abaixo dos parágrafos */
}

.imagem-container {
    display: flex;
    align-items: flex-start; /* Alinha a imagem ao topo do texto */
    margin-top: 20px; /* Espaço acima da imagem */
}

.imagem-container img {
    border-radius: 100%;
    width: 200px;
    margin-right: 20px; /* Espaço entre a imagem e o texto */
}

.imagem-container .texto-com-imagem {
    max-width: 70%; /* Limita a largura do texto ao lado da imagem */
}